.btn {
	border-radius: 0px;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	border-style: solid;
	border-width: 1px 1px 0px 0px;
	border-color: #d3d3d3;
	width:10px;
	height:10px;
}

.side {
	border-width: 1px 1px 0px 1px;
}

.bottom {
	border-width: 1px 1px 1px 0px;
}

.angle {
	border-width: 1px 1px 1px 1px;
}

#go, #stop, #clear {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: none;
	width: 60px;
	height: 23px;
}

.board{
	
	padding: 0;
	font-size: 0px;
	display: block;
}

.page{

	font-family: sans-serif;
	width:680px;
	margin:0 auto;
	margin-bottom: 100px;
	margin-top: 30px;
}

.on{
	background-color:black;
}

.off{
	background-color:white;
}


